@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --above-footer: #9dc9c8;
  --review-card: #efefef;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
.container {
  width: 85%;
  margin: 0 auto;
}
section {
  padding-bottom: 80px;
}
.format h2 {
  font-size: 55px;
  line-height: 56px;
  margin-bottom: 100px;
}
.format .infoes {
  display: flex;
}
.info .head {
  color: #1E4681;
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 10px;
}
.info p {
  width: 223px;
  font-size: 18px;
  line-height: 23px;
  margin-right: 100px;
}
@media (max-width: 375px) {
  .format h2 {
    margin-bottom: 30px;
  }
  .format .infoes {
    display: block;
  }
  .format h2 {
    font-size: 26px;
    line-height: 26px;
  }
  .info .head {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
  }
  .info p {
    width: 170px;
    font-size: 10px;
    line-height: 13px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 834px) {
  .format h2 {
    font-size: 32px;
    line-height: 33px;
  }
  .info .head {
    font-size: 15px;
    line-height: 20px;
  }
  .info p {
    width: 142px;
    margin-right: 60px;
    font-size: 11px;
    line-height: 14px;
  }
}
